<div class="btnrow">
  <a class="btn{% if current_item_type != 'index' %} default{% endif %}" href="{{ assets_prefix }}">Home</a>
  <a class="btn" href="{{ assets_prefix }}archive.html">Archive</a>
  {% if planet.tags.count > 0 %}<a class="btn" href="{{ assets_prefix }}tags.html">Tags</a>{% endif %}
  {% for item in site_navigation %}
  <a class="btn" href="{% if item.externalLink.count > 0 %}{{ item.externalLink }}{% else %}{{ assets_prefix }}{% if item.slug.count > 0 %}{{ item.slug }}{% else %}{{ item.id }}{% endif %}/{% endif %}"{% if item.externalLink.count > 0 %} target="_blank" rel="noopener"{% endif %}>{{ item.title|escape }}</a>
  {% endfor %}
  <a class="btn" href="{{ assets_prefix }}rss.xml">RSS</a>
</div>
